body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  border-bottom: 2px green solid;
  background-color: #FFFA8A;
}
.Elon-Musk {
  width: 30%;
  border: 2px burlywood solid;
}
.Bill-Gates {
  width: 30%;
  border: 2px burlywood solid
}
.The-Rock {
  width: 30%;
  border: 2px burlywood solid
}
.HomeWrapperTwo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.picWrapper {
  width: 98%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;


}
.homeLink {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-decoration: none;
  color: darkgreen;
  font-size: 1.4rem;
  border: 1px dotted black;
  border-radius: 50%;
  height: 3rem;
  width: 4rem
}
.pizzaLink {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-decoration: none;
  color: darkgreen;
  font-size: 1.4rem;
  border: 1px dotted black;
  border-radius: 35%;
  height: 3rem;
  width: 10rem
}
.backgroundcolor-home {
  width:100%;
  height:100%;
  background-color: beige;
}
.HomeWrapper {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}

.home-picture {
  max-width: 95%;
  border: 2px solid burlywood;
}